<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="images/logo.png" alt="" class="img-fluid">
					</div>
					<p> Dr. Muralidhar(ENT Specialist), Hebbal Kempapura, Bengaluru, Karnataka 560024.</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.pinterest.com/themefisher/"><i class="icofont-pinterest"></i></a>
						</li>
						

					</ul>
				</div>
			</div>

			

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Support</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#!">Terms & Conditions</a></li>
						<li><a href="#!">Privacy Policy</a></li>
						<li><a href="#!">Company Support </a></li>
						<li><a href="#!">FAQuestions</a></li>
						<li><a href="#!">Company Licence</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Support Available for 24/7</span>
						</div>
						<h4 class="mt-2"><a href="mailto:cm.chinmay@gmail.com">cm.chinmay@gmail.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Sun to Sat : 18:00-21:30</span>
						</div>
						<h4 class="mt-2"><a href="tel:+91-9845169398">+91-9845169398</a></h4>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-btm py-4 mt-5">
			<div class="row ">
				<div class="col-lg-6">
					<div class="copyright">
						Copyright &copy; 2022, Designed &amp; Developed by <a href="https://themefisher.com/">STARCODERS</a>
					</div>
				</div>
				<!-- <div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Your Email address" required>
							<button type="submit" class="btn btn-main-2 btn-round-full">Subscribe</button>
						</form>
					</div>
				</div> -->
				<!-- <div class="col-lg-2">
					<a href="https://api.whatsapp.com/send?phone=+917829737475&text=Hello%20Sir,">
						<i class="icofont-brand-whatsapp icofont-3x"></i></a>	
				</div>
				<div class="col-lg-2">
					<a href="tel:+91-7829737475">
						<i class="icofont-phone icofont-3x"></i></a>	
				</div> -->
			</div>

			<div class="row">
				<div class="col-lg-2">
					<a title="Whatsapp" class="backtop" href="https://api.whatsapp.com/send?phone=+917829737475&text=Hello%20Sir,">
						<i class="icofont-whatsapp"></i>
					</a>
				</div>
				<div class="col-lg-2">
					<a title="Call Me"class="backbutton" href="tel:+91-7829737475">
						<i class="icofont-phone"></i>
					</a>
				</div>

				
			</div>
			
		</div>
	</div>
</footer>