<section class="section service-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="images/service/service-1.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">HEARING</h4>
						<p class="mb-4">The ear houses both hearing and balance senses.We offer comprehensive evaluations to help manage and treat your ear disorder from hearing aids to ear surgery.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="images/service/service-2.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2  title-color">NASAL/SINUS</h4>
						<p class="mb-4">Nasal and sinus problems can prevent you from being active and enjoying life. Our physicians are experts in the medical and surgical management of conditions of the nose and sinus.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="images/service/service-3.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">PEDIATRIC</h4>
						<p class="mb-4">Ear, nose, and throat issues may present differently in children than in adults. Our physicians provide the appropriate pediatric management and comfortable treatments for your child’s needs.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="images/service/service-4.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">THYROID</h4>
						<p class="mb-4">The thyroid gland is vulnerable to a host of medical problems. Our expert physicians treat acute and advanced thyroid conditions.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="images/service/service-6.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">EXAMINATION & DIAGNOSIS</h4>
						<p class="mb-4">If you’re having problems with your ear, nose, or throat today, we’re here to help with immediate assistance by offering same day appointments.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="images/service/service-8.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">SLEEP APNEA</h4>
						<p class="mb-4">Sleep apnea may lead to daytime fatigue, relationship problems, and other medical issues. If your partner tells you that you snore, make an appointment today.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>