<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section-title">
					<h2 class="mb-4">What they say about us</h2>
					<div class="divider  my-4"></div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-6 testimonial-wrap offset-lg-6">
				<div class="testimonial-block">
					<div class="client-info ">
						<h4>Vidyashri Subhash</h4>
						<span>Amazing service!</span>
					</div>
					<p>
						Such a wonderful doctor the way he explain the problem is awesome, I really suggest and recommend this hospital.
Thank you so much sir.
					</p>
					<i class="icofont-quote-right"></i>
					
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Sandeep Verma</h4>
						<span>I WAS SUPREMELY IMPRESSED!</span>
						
					</div>
					<p>
						Dr.Muralidhar  is extremely personable and unbelievably knowledgeable. I was supremely impressed with my visit with him.This was my first time but i surely recommend to my friends.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Shweta Navaratna</h4>
						<span>Best Doctor.</span>
					</div>
					<p>
						One of the best doctor for any ENT problems.Available at all times in the town.One of the top ENT Specialists. Relly very nice. Highly recommended.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Koushik Mallesh</h4>
						<span>Highly Recommended.</span>
					</div>
					<p>
						I have Been visiting doctor for more than 12 years.He is well experienced. He is also consulting our family regularly.
Strongly recommend him.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Arun Kumar R</h4>
						<span>Nice Doctor.</span>
					</div>
					<p>
						I have been visiting this clinic for the past 4 years and the doctor is very kind in understanding the problems. Would recommend Dr. Muralidhar anyday.
					</p>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>